body {
	background-color: grey;
}

.container {
	width: 800px;
	height: 600px;
	background-color: #fff;
	margin: 40px auto;
	padding: 0;
}

.tile {
	background-color: #9acd32;
	width: 150px;
	height: 100px;
	border-radius: 5px;
	border: 1px solid black;
	display: inline-block;
	margin: 5px;
	cursor: pointer;
}

.row-starter {
	margin: 30px auto;
	width: 85%;
	height: 100%;
	text-align: center;
}

.startgamebutton button {
	margin: 20px auto;
    display: block;
}

.tile p {

	margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 22px;
    visibility: hidden;
    cursor: pointer;
}
